<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Activation Email</title>
    <style type="text/css">
        body{
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            line-height: 1.5;
            background-color: #fafafa;
            color: #222222;
        }
        a{
            color: blue;
            text-decoration: none;
        }
        h1{
            font-size: 24px;
            font-weight: 500;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
        }
        p{
            margin-top: 0;
            margin-bottom: 24px;
        }
        table tb{
            vertical-align: top;
        }
        .email-wrapper{
            max-width: 600px;
            margin: 0 auto;
        }
        .email-header{
            background: #1265b3;
            padding: 20px;
            text-align: center;
            color: #fff;
        }
        .email-body{
            padding: 24px;
            background-color: #fafafa;
        }
        .email-footer{
            background-color: #1265b3;
            padding: 25px;
            text-align: center;
            font-size: 25px;
            font-weight: 600;
        }
        .email-footer a {
           color: white;
        }
        .button{
            display: inline-block;
            background-color: #1265b3;
            color: #fafafa;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            padding: 12px 14px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Welcome to TP</h1>
        </div>
        <div class="email-body">
            <p>Hello <%=user.name%>,</p>
            <p>Thank for you registering with TP. To active your account, please use the following acctive code:</p>
            <h2>
                <%=activationCode%>
            </h2>
            <p>Please enter this code on the activation page within the next 5 minutes.</p>
            <p>If you did not register for a TP account, please ignore this email.</p>
        </div>
        <div class="email-footer">
            <p>If you have any question, please send email to contact us at <a
                href="#">suppor@gmail.com</a></p>
        </div>
    </div>
    
</body>
</html>